* {
    box-sizing: border-box;
    margin:0;
    padding:0;
    user-select: none;
}
.contains {
    border-radius: 7px;
    background:#edf1f2;
    position: fixed;
    font-family: 'Ubuntu', sans-serif;
    bottom:0;
    top:0;
    left:0;
    z-index: 9999;
    overflow: hidden !important;
    right:0;
}

click {
    color:#58a6ff;
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 5px;
    border-radius: 0 7px 7px 0;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 0 7px 7px 0;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 0 7px 7px 0;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: transparent;
}


input, textarea {
    padding:15px 20px;
    border:1px solid rgba(255, 255, 255, .05);
    outline:none;
    width: 100%;
    margin-bottom: 25px;
    color:#eee;
    font-weight: 600;
    resize: none;
    font-family: 'Ubuntu', sans-serif;
    border-radius: 5px;
    margin-top:-7px;
    background: transparent;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {-moz-appearance: textfield;}
textarea {height:100px;}
label {
    display:inline-flex;
    color:#909090;
    font-size:11px;
    margin-left:15px;
    z-index: 99999;
    position: relative;
    padding:0 10px 0 5px;
    font-weight: 500;
    background:#141236;
}

