* {
    box-sizing: border-box;
    margin:0;
    padding:0;
    user-select: none;
}
.contains {
    border-radius: 7px;
    background:#edf1f2;
    position: absolute;
    font-family: 'Ubuntu', sans-serif;
    bottom:0;
    top:0;
    left:0;
    overflow: hidden;
    right:0;
}

click {
    color:#58a6ff;
    cursor: pointer;
}

input {
    padding:10px;
    border:1px solid #0d0c22;
    outline:none;
    width: 100%;
    margin-bottom: 25px;
    color:#fff;
    font-weight: 500;
    margin-top:0;

    border-radius: 5px;
    background: transparent;
}
label {
    display:inline-flex;
    color:#ccc;
    font-size:11px;
    margin-left:15px;
    padding:0 10px 0 5px;
    margin-top:-6px;
    position: absolute;
    z-index: 1;
    background:#141236;
}