.header {
    height: 65px;
    overflow: hidden;
    transition: 250ms;
    position: absolute;
    margin-right: 20px;
    right: 0;
    top: 0;
    z-index: 99999;
    -webkit-user-select: none;
    -webkit-app-region: drag;
    justify-content: flex-end;
    cursor: pointer;
    align-items: center;
    display: flex;
}




.header  i {
    color:#000000;
    font-size:16px;
}
.header  div {
    display: inline-grid;
    padding: 0 15px;
    cursor: pointer;
    -webkit-app-region: no-drag;
    height: 100%;
    border-radius: 7px;
    align-items: center;
    transition: 250ms;
}

.header  div:hover {
    transform:scale(1.5)
}

