.menu h2 {
    color:#eee;
    font-size:18px;
    font-weight: 500;
    margin-bottom: 50px;
}

.menu button {
    background: #0d0c22;
    color: #fff;
    font-weight: 500;
    display: flex;
    border: none;
    padding: 15px 20px;
    border-radius: 5px;
    text-align: center;
    width: 100%;
    justify-content: center;
}

.menu .close {
    position: absolute;
    align-items: center;
    padding:10px;
    border-radius: 5px;
    display:flex;
    justify-content: center;
    align-items: center;
    right: 70px;
    color: #707070;
    top: 20px;
    font-size: 25px;
    cursor: pointer;
}

.menu .close:hover {
    background:#ccc;
}