.explorer {
    padding-bottom: 50px !important;
}

.explorer .header {
    display:flex;
    height: 50px;
    align-items: center;
}

.explorer .header .actions {
    margin-right: 30px;
    border-radius: 10px;
    overflow: hidden;
    background:#F5F5F5;
}
.explorer .path {
    display:flex;
    background:#F5F5F5;
    border-radius: 10px;
    overflow: hidden;
}

.explorer .path span:last-child {
    padding-right: 20px;
}

.explorer .path span:last-child i {
    display:none;
}

.explorer .path span {
    padding: 12.5px 10px 12.5px 20px;
    font-weight: 500;
    color:#505050;
    display:inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.explorer .path span.route {
    padding: 12.5px 20px;
}

.explorer .path span:not(.route) i {
    margin-left: 7.5px;
    color:#aaa;
}

.explorer .path span i {
    transform:translateY(2px);
    color:#505050;
    font-weight: 500;
}
.explorer .path span:hover {
    background:#E5E5E5;
}

.explorer th, .explorer td {
    font-size: 15px;
    padding:12px;
    border: 0px solid transparent;
    margin:0;
    outline: none;
    text-align: left;
}

.explorer th:hover {
    background:#F5F5F5;
    border-radius: 10px;
    overflow: hidden;
}

.explorer th:first-child:hover {
    background-color: transparent;
}

.explorer table i {
    margin-left: 10px;
    color:#aaa;
    transform:translateY(2px);
}

.explorer tbody tr:hover {
    background:#FAFAFA;
}

.explorer tr td:first-child {
    border-radius: 5px 0 0 5px;
    padding-left: 20px;
    width: 65px;
}

.explorer tr td:nth-child(2) {
    font-weight: 500;
}

.explorer tr td:last-child {
    border-radius: 0 5px 5px 0;
    padding-right: 30px;
}

.explorer table {
    width: 100%;
    border-collapse: collapse;
    margin-top:50px;
    margin-right: 50px;
}
