@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&display=swap');
@import url('https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css');

:root {
    --app-background-color: rgba(255,255,255,1.0);
    --app-header-height: 24px;
    --app-primary-color: rgba(77,78,141,1.0)
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #C5C5C5;
border-radius: 190px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #555;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
}

body {
    background-color: var(--app-background-color);
}

h1, h2, h3, h4, h5, h6, p, input, label, span, th, td {
    font-family: 'Maven Pro', sans-serif;
}

.hide {
    display:none !important
}

.button {
    padding: 12.5px 20px;
    border-radius: 5px;
    background: #F5F5F5;
    display: inline-flex;
    justify-content: center;
}

.button:hover {
    background-color: #E5E5E5;
}

.button.primary {
    background-color: var(--app-primary-color);
}
.button.primary h4 {
    color:#fff
}

.button.primary i {
    color:#fff;
}

.button h4 {
    font-weight: 600;
    display:flex;
    align-items: center;
}

.button:not(.only-icon) i {
    margin-right: 10px;
}

.button.transparent {
    background-color: transparent;
}
.button.transparent h4 {
    font-weight: 500;
}

.button.danger {
    color: #c64438
}

.error {
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 25px;
    background-color: #faeee9;
    width: 100%;
    border: 1px solid #ecd3c8
}

.error p {
    font-size: 13px;
    font-weight: 500;
}