.cfx-loading {
    position: fixed;
    left:0;
    top:var(--app-header-height);
    right: 0;
    bottom: 0;

    background-color: var(--app-background-color);

    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

@keyframes loaderPop {
   0% {
    transform:translateY(25px);
    opacity: 0;
   }
   100% {
    transform: translateY(0);
    opacity: 1;
   }
}

.cfx-loading h5 {
    color:#404040;
    font-weight: 500;
    animation: loaderPop 500ms 1;
    font-size: 15px;
}
.cfx-loading-progress {
    background-color: #ebebeb;
    height: 6px;
    border-radius: 100px;
    overflow: hidden;
    margin-top: 35px;
    display:flex;
    width: 100%;
    animation: loaderPop 500ms 1;
    max-width: 250px;
}

@keyframes connecting {
    0% {
        width: 50%;
        margin-left: -50%;
    }
    75% {
        width: 100%;
        margin-left: 100%;
    }
    100% {
        width: 0%;
        margin-left: 100%; 
    }
 }

.cfx-loading-progress span {
    display:flex;
    height: 6px;
    width: 0%;
    border-radius: 100px;
    background-color: #7b62ff;

    background: linear-gradient(0.25turn, #7b62ff, #b3a4ff);
}


.cfx-loading .draggable-window {
    -webkit-app-region: drag;
    display:flex;
    flex: 1;
    background-color: blue;
}

