@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&display=swap');
@import url('https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css');

:root {
    --app-background-color: rgba(255,255,255,1.0);
    --app-header-height: 24px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
}

body {
    background-color: var(--app-background-color);
}

h1, h2, h3, h4, h5, h6, p, input {
    font-family: 'Maven Pro', sans-serif;
}

.hide {
    display:none !important
}

.button {
    padding: 12.5px 20px;
    border-radius: 10px;
    background: #F0F0F0;
    display: inline-flex;
    justify-content: center;
}
.button:hover {
    opacity: .8;
}

.button.primary {
    background-color: #4d4e8d;
}
.button.primary h4 {
    color:#fff
}

.button h4 {
    font-weight: 600;
    display:flex;
    align-items: center;
}

.button i {
    margin-right: 10px;
}