.cfx-header {
    height: var(--app-header-height);
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.cfx-header .draggable-window {
    flex: 1;
    -webkit-app-region: drag;
}

.cfx-header i {
    padding: 0 10px;
    font-size: 12Px;
    height: 100%;
    color:#505050;

    display:inline-flex;
    align-items: center;
}

.cfx-header i:hover {
    background:#E5E5E5;
}