.account {
    background:#edf1f2;
    border-radius:7px;
    position: fixed;
    top:50px;
    left:50px;
    width: 300px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

}