.main .menu {
    height: calc(100vh - 60px);
    width: 450px;
    top: 40px;
    margin: 10px;
    padding: 40px 50px 50px 50px;
    bottom: 0;
    left: calc(-450px);
    position: fixed;
    overflow-x:hidden;
    overflow-y:auto;
    z-index: 999999;
    border-radius: 7px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    background: #141236;
    transition: 250ms;
}

.main .menu .inputs-list {
    border-radius: 5px;
    margin-top:-6px;
}
.main .menu delete {
    position: absolute;
    right: 60px;
    display: inline-flex;
    border-radius: 5px;
    cursor: pointer;
    padding: 9px;
    color: #959595;
}

.main .menu delete:hover {
    background:#2A2671;
}
.main .menu .inputs-list.open .head {
    background:#0d0c22;
    border-radius: 7px 7px 0 0;
}

.main .menu .inputs-list.open .field-dropdown {
    display:flex;
}
#selector {
    border: 2px solid  rgba(0, 155, 255, 0.5);
    background: rgba(0, 155, 255, 0.1);
    border-radius: 7px;
    position: absolute;
}
.main .menu .inputs-list .head {
    display: grid;
    padding: 15px 20px;
    font-size: 13px;
    border-radius: 7px;

    grid-template-columns: 30px calc(100% - 30px);
    cursor: pointer;
    color: #858585;
    transition: 250ms;
    align-items: center;
}
.main .menu .inputs-list .head i {
    color:#009BFF;
}

.main .menu .inputs-list .head:hover {
    background:#2A2671;
}

.main .menu .field-dropdown {
    display: none;
    z-index: 50;
    flex-direction: column;
    background: #0d0c22;
    overflow: hidden;
    border-radius: 0 0 7px 7px;
    align-items: center;
}

.main .menu .field-dropdown div {
    display:flex;
    cursor: pointer;
    color:#aaa;
    padding:15px 20px;
    font-size:14px;
    width:100%;
}

.main .menu .field-dropdown div:hover {
    background:#2A2671;
}

label.addInput {
    position: unset;
}

.main.open-menu .menu {
    left:0;

}
.main .conn:not(.open-conn) {
    bottom:-100px;
}

.conn {
    width: calc(100% - 20px);
    height: 50px;
    bottom: 0;
    margin: 10px;
    padding:0 25px;
    bottom: 0;
    left: 0;
    position: fixed;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    background: #141236;
    z-index: 99;
    border-radius: 7px;
    display:grid;
    grid-template-columns: 50% 50%;
    transition: 250ms;
}

.conn .right {
    display: flex;
    justify-content: flex-end;
}

.conn .item {
    margin: 5px;
    height: 41px;
    padding:0 30px;
    border-radius: 7px;
    display: inline-flex;
    color:#fff;
    font-size:20px;
    justify-content: center;
    cursor: pointer;
    align-items: center;
    transition: 250ms;
}

.conn .item:hover {
    transform:scale(1.3);
    background:#2A2671;
}

.main.open-conn .menu {
    right:-475px;
}
.main.open-conn .conn {
    bottom:0px;
}


.home {
    padding:25px 50px;
    transition: 250ms;
    margin-left:10px;
}

.connections {
    padding:0;
    transition: 250ms;
    margin-bottom: 25px;
}
.connections-menu {
    display: flex;
    height: 50px;

    margin-top: 0;
    align-items: center;
}

#onglets {
    display: inline-flex;
    height: 50px;
    align-items: center;
}
.connections-menu .onglet-add {
    display: inline-grid;
    padding: 0 15px;
    cursor: pointer;
    margin-left:10px;
    height: calc(100% - 10px);
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 7px;
    align-items: center;
    transition: 250ms;
}

.connections-menu .onglet-add:hover {
    transform:scale(1.1);
}

.connections-menu .item {
    display: inline-grid;
    width: 235px;
    padding: 0 15px;
    cursor: pointer;
    height: calc(100% - 10px);
    margin-left:10px;

    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 7px;
    grid-template-columns: 25px calc(100% - 40px) 15px;
    align-items: center;
    transition: 250ms;
}

.connections-menu .item h4 {
    font-weight: 500;
    transform:translateY(5.5px);
    font-size: 13px;
    transition: 250ms;
}

.connections-menu .item .closed {
    display:inline-flex;
    transform:scale(1.1);
    opacity: 0;
    padding:5px;
    transition: 250ms;
    border-radius: 5px;
}
.connections-menu .item:hover .closed{
    transform:scale(1);
    opacity: 1;
}
.connections-menu .item .closed:hover {
    background:#dadada
}



.connections-menu .item p {
    font-size:12px;
    font-weight: 500;
    color:#959595;
    opacity: 0;
    transform:translateY(5.5px) scale(0);
    transition: 250ms;
}


.connections-menu .item:hover h4 {
    transform:translateY(-1px);
}
.connections-menu .item:hover p {
    transform:scale(1.0) translateY(1px);
    opacity: 1;
}

.sidebars {
    display:flex;
    flex-direction: column;
    padding:0 50px;
}

.sidebars h3 {
    color:#0d0c22;
    font-weight: 700;
    font-size:18px;
}
.sidebars p {
    color:#808080;
    font-weight: 500;
    font-size:12px;
    margin-top:10px;
}
error {
    display: flex;
    justify-content: center;
    align-content: center;
    color: #808080;
    font-size: 14px;
    height: 200px;
    align-items: center;
}
.target_listening {
    position: fixed;
    bottom: 0;
    cursor: pointer;
    left:0;
    font-size:13px;
    padding:10px;
}
.connections .repositories {
    margin-top: 5px;
    overflow-y: auto;
    height: calc(100vh - 55px);
}
.connections .repositories .head, .connections .repositories .item {
    display:grid;
    padding:10px 50px;
    font-size:14px;
    font-weight: 400;
    grid-template-columns: 50px 250px 250px 200px 200px 200px;
}
.connections .repositories .item.selected {
    background:rgba(46, 161, 219, 0.25) !important;
}

.main .menu .split {
    display:grid;
    grid-template-columns: calc(100% - 110px) 100px;
    column-gap: 10px;
}

.connections .repositories .item i {
    color:#909090;
}

.bx-folder {
    color: rgba(46, 161, 219, 0.25)
}

.connections .repositories .item.gray {
    color:#909090;
    letter-spacing: 2px;
}
.connections .repositories .head {
    font-weight: 700;
}

.connections .repositories .item:hover {
    cursor: pointer;
    background:#E8E8E8;
}
.connections .connection {
    padding:0 25px;

}
.connections .loading {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: calc(100vh - 200px);

}
.hide {
    display:none !important;
}


.home h3 {
    color:#0d0c22;
    text-shadow: 5px 5px 20px #959595;
}

.home p {
    font-size:14px;

    color:#707070;
    font-weight: 400;
    margin-top:25px;
}

.menu .close {
    position: absolute;
    align-items: center;
    padding:10px;
    border-radius: 5px;
    display:flex;
    justify-content: center;
    align-items: center;
    right: 30px;
    color: #959595;
    top: 30px;
    font-size: 25px;
    cursor: pointer;
}

.menu .close:hover {
    background:rgba(255, 255, 255, 0.1);
}