.rightclick {
    position: absolute;
    width: 200px;
    background:#edf1f2;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.rightclick .item {
    padding:10px 15px;
    font-size:13px;
    cursor: pointer;
    display:grid;
    grid-template-columns: 30px calc(100% - 30px);
}

.rightclick .item:hover {
    background:#dedede
}